<div style="padding: 15px;">
    <div class="container-80 title-container" style="margin-top: 40px; margin-bottom: 15px;">
        <h2 class="font-26 bolder gray-900" style="display: inline-block;">Explora</h2>
        <mat-paginator [length]="totalCount"
              [pageSize]="20"
              [hidePageSize]="true"
              (page)="onPageFired($event)">
        </mat-paginator>
    </div>

    <div class="container-80">
        <mat-button-toggle-group [(ngModel)]="filter" (change)="filterChanged()" class="btn-group-explore">
            <mat-button-toggle class="btn-explore" value="all">Todas</mat-button-toggle>
            <mat-button-toggle class="btn-explore" value="upcoming">Próximas</mat-button-toggle>
            <mat-button-toggle class="btn-explore" value="past">Pasadas</mat-button-toggle>
        </mat-button-toggle-group>
    </div>

    <div class="container-80 search-container">
        <mat-form-field appearance="outline" class="search-field">
            <mat-label>Buscar por nombre</mat-label>
            <input matInput
                   [(ngModel)]="searchName"
                   (keyup.enter)="search()"
                   placeholder="Ej: clima"
                   maxlength="50">
        </mat-form-field>
        <button mat-raised-button color="primary" class="search-button" (click)="search()">Buscar</button>
    </div>

    <div *ngIf="symbiocreations?.length === 0" class="container-80 centered gray-600" style="margin-top: 15px;">
        No se encontraron simbiocreaciones.
    </div>

    <div class="container-80" fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="9px">

        <!-- card -->
        <mat-card *ngFor="let s of symbiocreations" class="card-1 pink-bg">

            <div class="centered font-13 gray-300 uppercase" style="height: 30px;">
                <!--<mat-icon *ngIf="s.dateTime" class="font-16">event</mat-icon>-->
                <span class="txt-2" *ngIf="s.dateTime">{{s.dateTime | date : 'E d MMM' : 'UTC'}}</span>
                <span class="txt-2" *ngIf="s.hasStartTime">, {{s.dateTime | date : 'shortTime' : 'UTC'}}</span>
            </div> 

            <div class="centered font-20 bold" style="color: white; height: 48px;">
                <a [routerLink]="['/symbiocreation/', s.id]" class="ellipsed-2 link-hvr-underline txt-1">{{s.name}}</a>
            </div>

            <div style="margin: 20px auto 0; height: 40px; position: relative;" 
                [style.width]="(s.participantsToDisplay.length - 1) * 24 + 45 + computeNMoreSpanWidth(s.participants.length, s.participantsToDisplay.length) + 'px'">

                    <advanced-image *ngFor="let p of s.participantsToDisplay; index as i;" 
                        [cldImg]="p.user.cloudinaryImage"
                        width="40px" height="auto"
                        style="position: absolute;"
                        [style.z-index]="5-i" [style.left]="i*24 + 'px'"
                        [matTooltip]="p.user.name" matTooltipPosition="above">
                    </advanced-image>

                    <span *ngIf="s.participantsToDisplay.length > 0 && s.participants.length - s.participantsToDisplay.length > 0" 
                        class="font-12 gray-300 txt-2" style="position: absolute; top: 10px;" 
                        [style.left]="(s.participantsToDisplay.length - 1) * 24 + 45 + 'px'">
                        {{s.participants.length - s.participantsToDisplay.length}} más
                    </span>
            </div>

            <div style="margin-top: 20px; height: 30px;">
                <div [matTooltip]="'Actualizado ' + getTimeAgo(s.lastModified)" matTooltipPosition="above" style="max-width: 151px; display: flex; align-items: center;" fxFlex>
                    <mat-icon class="font-17 gray-300 txt-2">update</mat-icon>
                    <span class="font-12 gray-300 txt-2" style="position: relative; left: -4px;">{{getTimeAgo(s.lastModified)}}</span>
                </div>

                <div fxFlex="30px">
                    <button class="infoButton"
                            mat-icon-button 
                            matTooltip="Ver más información" matTooltipPosition="above"
                            style="position: relative; top: -5px;" 
                            (click)="openSymbioDetailDialog(s)">
                            <mat-icon class="font-20 gray-400">info</mat-icon>
                    </button>
                </div>
            </div>
            
        </mat-card>
         <!-- End of card -->
    </div>

    <div class="container-80" style="margin-top: 15px;">
        <mat-paginator [length]="totalCount"
              style="background-color: inherit !important;"
              [pageSize]="20"
              [hidePageSize]="true"
              (page)="onPageFired($event)">
        </mat-paginator>
    </div>
</div>
