
<mat-dialog-content>
    <div>
        <video #video class="vid" autoplay style="width: 100%; height: 100%;"></video>
        <canvas #canvas style="display: none; width: 100%; height: 100%;"></canvas>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-dialog-close>{{ 'COMMON.CANCEL' | translate }}</button>
    <span fxFlex></span>
    <button mat-flat-button color="accent" (click)="onCaptureClick()">{{ 'DIALOG.CAPTURE' | translate }}</button>
</mat-dialog-actions>
