<mat-list>
    <mat-list-item *ngFor="let topic of data.slice(0, 10); index as i; last as last">
      <div matLine style="max-width: 90%; padding-left: 5px;">
        <span class="bolder font-20 deep-purple-500" style="margin-right: 2px;">{{ topic.terms[0] }}</span>
        <span class="font-13 gray-600">({{ topic.termCounts[0] }})</span>

        <span class="bolder font-20 deep-purple-500" style="margin-left: 10px; margin-right: 2px;">{{ topic.terms[1] }}</span>
        <span class="font-13 gray-600">({{ topic.termCounts[1] }})</span>

        <span class="bolder font-20 deep-purple-500" style="margin-left: 10px; margin-right: 2px;">{{ topic.terms[2] }}</span>
        <span class="font-13 gray-600">({{ topic.termCounts[2] }})</span>

        <span class="bolder font-20 deep-purple-500" style="margin-left: 10px; margin-right: 2px;">{{ topic.terms[3] }}</span>
        <span class="font-13 gray-600">({{ topic.termCounts[3] }})</span>
      </div>

      <div matLine style="padding-left: 5px;">
        <span class="font-13 gray-600">
            {{ 'STATS.USED' | translate }} {{ topic.termCounts[0] + topic.termCounts[1] +
            topic.termCounts[2] + topic.termCounts[3]}} {{ 'STATS.TIMES_TOTAL' | translate }}
        </span>
      </div>

      <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
    </mat-list-item>
</mat-list>